USE [master]
GO
/****** Object:  Database [TournyTracker]    Script Date: 12/13/21 7:29:08 PM ******/
CREATE DATABASE [TournyTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TournyTracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TournyTracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TournyTracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TournyTracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TournyTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TournyTracker]
GO
/****** Object:  Table [dbo].[Game_Participants]    Script Date: 12/13/21 7:29:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game_Participants](
	[Id] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[ParticipantId] [int] NOT NULL,
	[Team] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 12/13/21 7:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] NOT NULL,
	[LeagueId] [int] NOT NULL,
	[Date] [datetime] NULL,
	[IsFinal] [bit] NOT NULL,
	[Winner] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leagues]    Script Date: 12/13/21 7:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leagues](
	[Id] [int] NOT NULL,
	[OwnerId] [char](28) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](1000) NOT NULL,
	[StartingRating] [int] NOT NULL,
	[IsPrivate] [bit] NOT NULL,
	[MinimumRating] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 12/13/21 7:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[Id] [int] NOT NULL,
	[LeagueId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Elo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/13/21 7:29:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [char](28) NOT NULL,
	[DisplayName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Games] ADD  CONSTRAINT [DF_Games_IsFinal]  DEFAULT ((0)) FOR [IsFinal]
GO
ALTER TABLE [dbo].[Leagues] ADD  CONSTRAINT [DF_Leagues_Description]  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Leagues] ADD  CONSTRAINT [DF_Leagues_StartingRating]  DEFAULT ((1500)) FOR [StartingRating]
GO
ALTER TABLE [dbo].[Leagues] ADD  CONSTRAINT [DF_Leagues_Private]  DEFAULT ((1)) FOR [IsPrivate]
GO
ALTER TABLE [dbo].[Leagues] ADD  CONSTRAINT [DF_Leagues_MinimumRating]  DEFAULT ((0)) FOR [MinimumRating]
GO
USE [master]
GO
